---
layout: none
---

// Globals & resets
html, body {
    padding: 0;
    margin: 0;
}

// Header
.header {
    
}

// Content
.main {
    
}

// Footer
.footer {
    
}

// Graphics
img {
    
}

svg {
    
}

// List items
ul {
    
}

li {
    
}

// Typography
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

p {
    
}

a {
    
}

small {
    
}
