---
layout: none
---

// Variables
$color--link: #00AAAD;
$color--heading: #5D5D5D;
$color--subheading: #9D9D9D;
$color--paragraph: #3D3D3D;
$color--keyline: #EDEDED;
$color--footnote: #ADADAD;
$width--keyline: .5rem;

// Globals & resets
html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

// Container
.container {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 2rem;
        bottom: 0;
        border-left: $width--keyline solid $color--keyline;
    }
}

// Header
.header {
    
}

// Content
.main {
    
}

// Footer
.footer {
    
}

// Graphics
img {
    max-width: 100%;
    height: auto;
}

svg {
    
}

// Icons
.icon {
    &--network {
        width: 1.25rem;
        height: 1.25rem;
    }
}

// Lists
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Items
.item {
    &--network {
        display: inline-block;
    }
}

// Links
.link {
    display: inline-block;
    line-height: 0;
    &--circle {
        width: 6rem;
        border: $width--keyline solid $color--keyline;
        border-radius: 100%;
        overflow: hidden;
    }
}

// Typography
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: $color--paragraph;
}

h1, h2, a {
    font-weight: 400;
}

h1 {
    color: $color--heading;
}

h2 {
   color: $color--subheading; 
}

h3 {
    
}

p {
    
}

a {
    color: $color--link;
    text-decoration: none;
}

small {
    color: $color--footnote;
}
