<div class="contact">

	<a class="link  link--circle  link--contact" href="#contact" title="Contact">
                <svg class="icon  icon--contact">
			<use xlink:href="#envelop"></use>
		</svg>
	</a>
	
	<div class="content  content--contact">
	
		<h2>Contact</h2>
		<form id="contactform" method="POST" action="">
                        <input type="text" name="name" placeholder="Your name">
                        <input type="email" name="_replyto" placeholder="Your email">
                        <input type="hidden" name="_subject" value="darn.es contact">
                        <textarea name="message" placeholder="Your message"></textarea>
                        <input type="text" name="_gotcha" style="display:none">
                        <input type="submit" value="Send">
                </form>
	
	</div>

</div>
