{% if site.data.sites %}
        <ul class="list  list--sites">
                {% for item in site.data.sites %}
                        <li class="item  item--site  item--{{ item.title | slugify }}">
				<style>.item--{{ item.title | slugify }} a { color: {{ item.colour }} }</style>
				<a class="link  link--circle  link--site" href="{{ item.link }}" title="{{ item.title }}">
                                	<svg class="icon  icon--site">
						<use xlink:href="#{{ item.icon }}" fill="{{ item.colour }}"></use>
					</svg>
				</a>
                                <h2>
                                        <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
                                </h2>
                                {{ item.content | markdownify }}
                        </li>
                {% endfor %}
        </ul>
{% endif %}
