{% if site.data.sites %}
        <ul class="list  list--sites">
                {% for item in site.data.sites %}
                        <li class="item  item--site  item--{{ item.title | handleize }}">
				<style>.item--{{ item.title | handleize }} a { color: {{ item.colour }} }</style>
                                <svg class="icon  icon--site">
					<use xlink:href="#{{ item.icon }}" fill="{{ item.colour }}"></use>
				</svg>
                                <h2>
                                        <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
                                </h2>
                                {{ item.content | markdownify }}
                        </li>
                {% endfor %}
        </ul>
{% endif %}
